.title {
  font-weight: 600;
  font-size: 32px;
}
p {
  font-weight: 600;
  font-size: 18px;
  color: #1a508b;
  text-align: center;
}
.card-wraper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 80px;
}
.card img {
  width: 40px;
  height: 40px;
  margin-left: 120px;
  margin-top: 20px;
}
.card {
  transform-origin: 50% 50%;
  transition: transform 30s linear;
}
.card:hover {
  cursor: pointer;
  transform: scale(2) rotate(0.1deg);
  background-color: #1a508b;
}
.card p:hover {
  color: #e7e7de;
}
