.card-wrapper {
  border: 1px rgb(87, 77, 77);
  background-color: #cecec8f5;

  margin: 25px;
  width: 200px;
  height: 170px;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px grey;
  /* cursor: pointer; */
  transition: 0.3s;
}
.card-wrapper:hover {
  box-shadow: 10px 10px 10px grey;
  transform: translateY(-5px);
}
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;
}
.fav-button {
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  cursor: pointer;
  background-color: #e7e7de;
  border-color: white;
}
h1,
.fave {
  text-align: center;
}
