.container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background-color: #cecec8f5;
  height: 100px;
}
.logo {
  height: 20px;
  width: 20px;
  margin-bottom: 30px;
}
.home-logo {
  height: 50px;
  width: 50px;
  margin-left: 40px;
}
.navigation {
  display: flex;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  font-size: 24px;
  color: #1a508b;
}
